<div class="container" 
style="width: 70%; color: black; background-color: #f5f1da; padding: 50px 20px; border-radius: 10px; border: 7px groove #96bb7c;">

<strong><p class="c_show">Title:<%= @movie.title %></p></strong>

<br>
<strong><p class="c_show">Rating:<%= @movie.rating %></p></strong>
<br>
<strong><p class="c_show">Release date:<%= @movie.release_date %></p></strong>
<br>
<br>
<%= link_to 'Close', '', {:id => 'closeLink'} %>
</div>