// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/






#movieInfo {
    padding: 2ex;
    position: absolute;
    border: 2px double grey;
    background: wheat;
  }